@page "/"
@inject NotificationService notificationService

<PageTitle>Index</PageTitle>

<h1>Alexander Su&aacute;rez Taveras (2021-0086)</h1>

<h3>Programci&oacute;n Aplicada 1 2023-03 </h3>

<buttonq @onclick="MostrarNotificacion">Prueba</buttonq>

@code{
    public void MostrarNotificacion()
    {
        var mensaje = new NotificationMessage
            {
                Severity = NotificationSeverity.Error,
                Summary = "Notificacion ejemplo",
                Detail = "Esta es una prueba de Notificacion service",
                Duration = 4_000
            };
        notificationService.Notify(mensaje);

    }
}